@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.custom-scrollbar {
  scrollbar-color: inherit;
  scrollbar-width: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1A1A2E;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: currentColor;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

